body {
  background-color: black;
}

h1 {
  color: white;
  display: block;
  padding-left: 50px;
  font-family: 'Courier';
  font-size: 60px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
